### 3. Mengubah Nama kolom, Index, dan Isi DataFrame

In [2]:
# Data awal
import pandas as pd
import numpy as np

# membuat data dictionary of list /object of array
data_kendaraan = {
    'Merek' : ['Toyota', 'Honda', 'Suzuki', 'Yamaha', 'Mitsubishi', 'Kawasaki', 'Daihatsu', 'Isuzu'],
    'Model' : ['Avanza', 'Civic', 'Ertiga', 'NMAX', 'Pajero', 'Ninja', 'Xenia', 'Panther'],
    'Tahun Produksi' : [2021, 2020, 2022, 2021, 2019, 2018, 2023, 2017],
    'Tipe' : ['Mobil', 'Mobil', 'Mobil', 'Motor', 'Mobil', 'Motor', 'Mobil', 'Mobil' ]
}

mob_index = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

df_kendaraan = pd.DataFrame(data_kendaraan, index=mob_index)
df_kendaraan

        Merek    Model  Tahun Produksi   Tipe
A      Toyota   Avanza            2021  Mobil
B       Honda    Civic            2020  Mobil
C      Suzuki   Ertiga            2022  Mobil
D      Yamaha     NMAX            2021  Motor
E  Mitsubishi   Pajero            2019  Mobil
F    Kawasaki    Ninja            2018  Motor
G    Daihatsu    Xenia            2023  Mobil
H       Isuzu  Panther            2017  Mobil

#### Mengubah Nama kolom
  1. bisa dengan method .rename tapi tidak mereplace
    * masukan parameter columns -> buat dalam dictionary key-lama : key-baru
    * parameter inplace --> unutk menyimpan data/mereplace data

In [3]:
# Cara mengubah Kolom
  # menggunakan parameter columns --> columns = {nama-kolom-sebelumnya : nama-kolom-yang-baru}
  # inplace --> berguna sebagai perintah untuk menyimpan data perubahan/ replace data kolom
df_kendaraan.rename(columns={
    'Merek':'Merk',
    'Tahun Produksi':'Tahun'
    },
    inplace=True
  )
df_kendaraan

         Merk    Model  Tahun   Tipe
A      Toyota   Avanza   2021  Mobil
B       Honda    Civic   2020  Mobil
C      Suzuki   Ertiga   2022  Mobil
D      Yamaha     NMAX   2021  Motor
E  Mitsubishi   Pajero   2019  Mobil
F    Kawasaki    Ninja   2018  Motor
G    Daihatsu    Xenia   2023  Mobil
H       Isuzu  Panther   2017  Mobil

#### Mengubah Baris/Index
  1. dengan method .rename
    * masukan parameter index utk mengubah baris --> buat dalam dictionary key-lama : key-baru
    * parameter inplace --> digunakan utk menyimpan perubahan / mereplace data
  2. dengan method set_index --> mereset index/merubah secara keseluruhan
    * Pertama : buat index baru
    * kedua : buat list yg dimasukan kedalam pd.Index (ini dibuat menjadi object index)
    * ketiga : baru kita bisa menggunakan set_index untuk mereset index
    * parameter inplace=True --> untuk menyimpan data perubahan

In [5]:
# Cara 1 dengan method .rename
df_kendaraan.rename(index={
    'A' : 'Z',
    'B' : 'Y'
    },
    inplace=True
)
df_kendaraan

         Merk    Model  Tahun   Tipe
Z      Toyota   Avanza   2021  Mobil
Y       Honda    Civic   2020  Mobil
C      Suzuki   Ertiga   2022  Mobil
D      Yamaha     NMAX   2021  Motor
E  Mitsubishi   Pajero   2019  Mobil
F    Kawasaki    Ninja   2018  Motor
G    Daihatsu    Xenia   2023  Mobil
H       Isuzu  Panther   2017  Mobil

In [6]:
# Cara 2 dengan set_index
# 1. membuat index dan masukan kedalam pd.Index utk membuat object of index
index_baru = pd.Index([1,2,3,4,5,6,7,8])
# 2. masukan kedalam set_index untuk merest seluruh index
  #  inplace jangan lupa, utk menyimpan perubahan
df_kendaraan.set_index(index_baru, inplace=True)
df_kendaraan

         Merk    Model  Tahun   Tipe
1      Toyota   Avanza   2021  Mobil
2       Honda    Civic   2020  Mobil
3      Suzuki   Ertiga   2022  Mobil
4      Yamaha     NMAX   2021  Motor
5  Mitsubishi   Pajero   2019  Mobil
6    Kawasaki    Ninja   2018  Motor
7    Daihatsu    Xenia   2023  Mobil
8       Isuzu  Panther   2017  Mobil

#### Mengubah Isi DataFrame
  1. Indexing dulu untuk mengarahkan data yang ingin di ubah
  2. menggunakan method loc, isi baris dan kolom yang mau dirubah
  3. ubah isi dengan data baru (data baru akan otomatis tersimpan)

In [7]:
# 1. dari data dengan indexing
  # begini bisa dari hasil pencarian DataFrame
test1 = df_kendaraan.loc[[2], ['Tahun']] = 2025
print(test1)
  # begini juga bisa yang biasa
test2 = df_kendaraan.loc[3, 'Tahun'] = 2025
print(test2)

test3 = df_kendaraan.loc[3, 'Model'] = 'Avanza'
print(test3)

df_kendaraan

2025
2025
Avanza

         Merk    Model  Tahun   Tipe
1      Toyota   Avanza   2021  Mobil
2       Honda    Civic   2025  Mobil
3      Suzuki   Avanza   2025  Mobil
4      Yamaha     NMAX   2021  Motor
5  Mitsubishi   Pajero   2019  Mobil
6    Kawasaki    Ninja   2018  Motor
7    Daihatsu    Xenia   2023  Mobil
8       Isuzu  Panther   2017  Mobil