### 5. Menghapus Kolom dan Baris

In [1]:
# Data awal
import pandas as pd
import numpy as np

# membuat data dictionary of list /object of array
data_kendaraan = {
    'Merek' : ['Toyota', 'Honda', 'Suzuki', 'Yamaha', 'Mitsubishi', 'Kawasaki', 'Daihatsu', 'Isuzu'],
    'Model' : ['Avanza', 'Civic', 'Ertiga', 'NMAX', 'Pajero', 'Ninja', 'Xenia', 'Panther'],
    'Tahun Produksi' : [2021, 2020, 2022, 2021, 2019, 2018, 2023, 2017],
    'Tipe' : ['Mobil', 'Mobil', 'Mobil', 'Motor', 'Mobil', 'Motor', 'Mobil', 'Mobil' ]
}

mob_index = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

df_kendaraan = pd.DataFrame(data_kendaraan, index=mob_index)

# menambahkan kolom
df_kendaraan['Warna'] = ['Merah', 'Biru', 'Silver', 'Hitam', 'Hitam', 'Merah', 'Putih', 'Putih']
df_kendaraan['Model Warna'] = df_kendaraan['Model'] + ' ' + df_kendaraan['Warna']

df_kendaraan

        Merek    Model  Tahun Produksi   Tipe   Warna    Model Warna
A      Toyota   Avanza            2021  Mobil   Merah   Avanza Merah
B       Honda    Civic            2020  Mobil    Biru     Civic Biru
C      Suzuki   Ertiga            2022  Mobil  Silver  Ertiga Silver
D      Yamaha     NMAX            2021  Motor   Hitam     NMAX Hitam
E  Mitsubishi   Pajero            2019  Mobil   Hitam   Pajero Hitam
F    Kawasaki    Ninja            2018  Motor   Merah    Ninja Merah
G    Daihatsu    Xenia            2023  Mobil   Putih    Xenia Putih
H       Isuzu  Panther            2017  Mobil   Putih  Panther Putih

#### Menghapus Kolom
  * dengan method -> .drop
  * disini ada beberapa parameter seperti column dan index, tinggal cek aja dengan nama_dataFrame.drop?
  * paramater column axis start dari 1 (nilai default)
  * parameter inplace=true, untuk mengesave perubahan Data
  * menghapus beberapa column dimasukan kedalam list []

In [2]:
#  menghapus 1 kolom
df_kendaraan.drop(columns='Model Warna', axis=1, inplace=True)
df_kendaraan

        Merek    Model  Tahun Produksi   Tipe   Warna
A      Toyota   Avanza            2021  Mobil   Merah
B       Honda    Civic            2020  Mobil    Biru
C      Suzuki   Ertiga            2022  Mobil  Silver
D      Yamaha     NMAX            2021  Motor   Hitam
E  Mitsubishi   Pajero            2019  Mobil   Hitam
F    Kawasaki    Ninja            2018  Motor   Merah
G    Daihatsu    Xenia            2023  Mobil   Putih
H       Isuzu  Panther            2017  Mobil   Putih

In [3]:
# Menghapus beberapa column
df_kendaraan.drop(columns=['Tipe', 'Warna'], axis=1, inplace=True)
df_kendaraan

        Merek    Model  Tahun Produksi
A      Toyota   Avanza            2021
B       Honda    Civic            2020
C      Suzuki   Ertiga            2022
D      Yamaha     NMAX            2021
E  Mitsubishi   Pajero            2019
F    Kawasaki    Ninja            2018
G    Daihatsu    Xenia            2023
H       Isuzu  Panther            2017

#### Menghapus index/Baris
  * menggunakan method --> .drop
  * parameter nya index=
  * nilai axis nya tidak wajib, karena nilai default nya 0
  * menghapus multiple index dimasukan kedalam list []
  * parameter inplace=True --> untuk mensave data perubahan

In [4]:
# Menghapus 1 baris/index
df_kendaraan.drop(index="A",inplace=True)
df_kendaraan

        Merek    Model  Tahun Produksi
B       Honda    Civic            2020
C      Suzuki   Ertiga            2022
D      Yamaha     NMAX            2021
E  Mitsubishi   Pajero            2019
F    Kawasaki    Ninja            2018
G    Daihatsu    Xenia            2023
H       Isuzu  Panther            2017

In [5]:
# Menghapus beberapa index/baris
df_kendaraan.drop(index=["B", "C"])

        Merek    Model  Tahun Produksi
D      Yamaha     NMAX            2021
E  Mitsubishi   Pajero            2019
F    Kawasaki    Ninja            2018
G    Daihatsu    Xenia            2023
H       Isuzu  Panther            2017

#### Menghapus Kolom dan Index bersamaan
  * karena method drop secara default na punya parameter column dan index

In [6]:
# Menghapus index dan columns
df_kendaraan.drop(columns=['Model'], index=['G'])

        Merek  Tahun Produksi
B       Honda            2020
C      Suzuki            2022
D      Yamaha            2021
E  Mitsubishi            2019
F    Kawasaki            2018
H       Isuzu            2017