### INPUT DAN OUTPUT
Library pandas di Python menyediakan berbagai fungsi untuk input (membaca data) dan ouput (menulis data) dari dan ke berbagai format file

#### Cara ke 1 : menghubungkan ke google drive untuk pencarian data
* from google.colab import drive
* drive.mount('/content/drive')

#### ini hanya kalo menggunakan google colab dan drive

#### INPUT : Membaca Data

In [2]:
import pandas as pd

##### 1. Membaca Data dari File CSV (Comma Separated Value)
  * Untuk membaca/mencari data harus path spesifik dan copy path nya dengan klik icon tiga di samping file, aggar rapih masukan ke dalam variabel
  * parameter ->  
    1. sep= adalah parameter pemisah data nya, harus sama yg dimasukan nya dengan yg di file (cek dulu jangan lupa, format nya wajib string juga)
    2. index_col= adalah parameter untuk membuat column menjadi index baris("harus string tipe data nya juga)
    3. dalam VS CODE cara baca rada unik tambahkan r di depan string agar bisa di baca

In [7]:
# copy path nya utk mencari data yang mau di baca
path = r"C:\Rofi belajar\Udemy Data Analyst\section-8-Pandas-Input-Output-DataSet-Review\MISSION+5+FILES\provinsi_indonesia.csv"
df1 = pd.read_csv(path, sep=',')

# read data
df1

               Provinsi        Ibu Kota  Jumlah Penduduk
0                  Aceh      Banda Aceh          5274871
1        Sumatera Utara           Medan         14799361
2        Sumatera Barat          Padang          5534472
3                  Riau       Pekanbaru          6575405
4        Kepulauan Riau  Tanjung Pinang          2064564
5                 Jambi           Jambi          3548228
6      Sumatera Selatan       Palembang          8438660
7              Bengkulu        Bengkulu          2006687
8               Lampung  Bandar Lampung          9007848
9       Bangka Belitung  Pangkal Pinang          1501072
10          DKI Jakarta         Jakarta         10562088
11           Jawa Barat         Bandung         49316712
12               Banten          Serang         13904744
13          Jawa Tengah        Semarang         37103545
14        DI Yogyakarta      Yogyakarta          3668719
15           Jawa Timur        Surabaya         41149225
16                 Bali        Denpasar          4362469
17  Nusa Tenggara Barat         Mataram          5320092
18  Nusa Tenggara Timur          Kupang          5456823
19     Kalimantan Barat       Pontianak          5479190
20    Kalimantan Tengah   Palangka Raya          2669845
21   Kalimantan Selatan     Banjarmasin          4303775
22     Kalimantan Timur       Samarinda          3847783
23     Kalimantan Utara   Tanjung Selor           701894
24       Sulawesi Utara          Manado          2642093
25            Gorontalo       Gorontalo          1171681
26      Sulawesi Tengah            Palu          3046857
27       Sulawesi Barat          Mamuju          1479890
28     Sulawesi Selatan        Makassar          9073509
29    Sulawesi Tenggara         Kendari          2650685
30               Maluku           Ambon          1848923
31         Maluku Utara          Sofifi          1337807
32          Papua Barat       Manokwari          1134068
33     Papua Barat Daya          Sorong          1134068
34     Papua Pegunungan          Wamena          1561100
35         Papua Tengah          Nabire          1489000
36        Papua Selatan         Merauke          1468400
37                Papua        Jayapura          2852803

##### 2. Membaca Data dari File Excel
  * Parameter
    1. sheet_name= adalah parameter untuk membaca sheet mana yang ada di excel yang akan di baca oleh pandas (tipe data harus string juga)

In [10]:
path2 = r"C:\Rofi belajar\Udemy Data Analyst\section-8-Pandas-Input-Output-DataSet-Review\MISSION+5+FILES\provinsi_indonesia.xlsx"
df2 = pd.read_excel(path2, sheet_name='provinsi')

# read data
df2

               Provinsi        Ibu Kota  Jumlah Penduduk
0                  Aceh      Banda Aceh          5274871
1        Sumatera Utara           Medan         14799361
2        Sumatera Barat          Padang          5534472
3                  Riau       Pekanbaru          6575405
4        Kepulauan Riau  Tanjung Pinang          2064564
5                 Jambi           Jambi          3548228
6      Sumatera Selatan       Palembang          8438660
7              Bengkulu        Bengkulu          2006687
8               Lampung  Bandar Lampung          9007848
9       Bangka Belitung  Pangkal Pinang          1501072
10          DKI Jakarta         Jakarta         10562088
11           Jawa Barat         Bandung         49316712
12               Banten          Serang         13904744
13          Jawa Tengah        Semarang         37103545
14        DI Yogyakarta      Yogyakarta          3668719
15           Jawa Timur        Surabaya         41149225
16                 Bali        Denpasar          4362469
17  Nusa Tenggara Barat         Mataram          5320092
18  Nusa Tenggara Timur          Kupang          5456823
19     Kalimantan Barat       Pontianak          5479190
20    Kalimantan Tengah   Palangka Raya          2669845
21   Kalimantan Selatan     Banjarmasin          4303775
22     Kalimantan Timur       Samarinda          3847783
23     Kalimantan Utara   Tanjung Selor           701894
24       Sulawesi Utara          Manado          2642093
25            Gorontalo       Gorontalo          1171681
26      Sulawesi Tengah            Palu          3046857
27       Sulawesi Barat          Mamuju          1479890
28     Sulawesi Selatan        Makassar          9073509
29    Sulawesi Tenggara         Kendari          2650685
30               Maluku           Ambon          1848923
31         Maluku Utara          Sofifi          1337807
32          Papua Barat       Manokwari          1134068
33     Papua Barat Daya          Sorong          1134068
34     Papua Pegunungan          Wamena          1561100
35         Papua Tengah          Nabire          1489000
36        Papua Selatan         Merauke          1468400
37                Papua        Jayapura          2852803

##### 3. Membaca Data dari File JSON

In [11]:
path3 = r"C:\Rofi belajar\Udemy Data Analyst\section-8-Pandas-Input-Output-DataSet-Review\MISSION+5+FILES\provinsi_indonesia.json"
df3 = pd.read_json(path3)
# read data
df3

               Provinsi        Ibu Kota  Jumlah Penduduk
0                  Aceh      Banda Aceh          5274871
1        Sumatera Utara           Medan         14799361
2        Sumatera Barat          Padang          5534472
3                  Riau       Pekanbaru          6575405
4        Kepulauan Riau  Tanjung Pinang          2064564
5                 Jambi           Jambi          3548228
6      Sumatera Selatan       Palembang          8438660
7              Bengkulu        Bengkulu          2006687
8               Lampung  Bandar Lampung          9007848
9       Bangka Belitung  Pangkal Pinang          1501072
10          DKI Jakarta         Jakarta         10562088
11           Jawa Barat         Bandung         49316712
12               Banten          Serang         13904744
13          Jawa Tengah        Semarang         37103545
14        DI Yogyakarta      Yogyakarta          3668719
15           Jawa Timur        Surabaya         41149225
16                 Bali        Denpasar          4362469
17  Nusa Tenggara Barat         Mataram          5320092
18  Nusa Tenggara Timur          Kupang          5456823
19     Kalimantan Barat       Pontianak          5479190
20    Kalimantan Tengah   Palangka Raya          2669845
21   Kalimantan Selatan     Banjarmasin          4303775
22     Kalimantan Timur       Samarinda          3847783
23     Kalimantan Utara   Tanjung Selor           701894
24       Sulawesi Utara          Manado          2642093
25            Gorontalo       Gorontalo          1171681
26      Sulawesi Tengah            Palu          3046857
27       Sulawesi Barat          Mamuju          1479890
28     Sulawesi Selatan        Makassar          9073509
29    Sulawesi Tenggara         Kendari          2650685
30               Maluku           Ambon          1848923
31         Maluku Utara          Sofifi          1337807
32          Papua Barat       Manokwari          1134068
33     Papua Barat Daya          Sorong          1134068
34     Papua Pegunungan          Wamena          1561100
35         Papua Tengah          Nabire          1489000
36        Papua Selatan         Merauke          1468400
37                Papua        Jayapura          2852803

#### OUTPUT : Menulis Data

##### 1. Menulis kedalam CSV
  * menggunakan .to_csv() -> contoh data.to_csv(path)
    1. buat nama file dengan format csv
    2. path folder (tempat menyimpan data)
    3. masukan dengan .to_csv()

In [16]:
# 1. buat nama file csv
nama_csv = 'provinsi_csv_baru.csv'
# 2. path folder (tempat menyimpan data) dan masukan nama file nya
path_folder = rf"C:\Rofi belajar\Udemy Data Analyst\section-8-Pandas-Input-Output-DataSet-Review\folder_menyimpan_data_baru/{nama_csv}"
# 3. jalankan code untuk memasukan data
df1.to_csv(path_folder)

##### 2. Menulis Kedalam excel
  * menggunakan .to_excel()-> contoh data.to_excel(path)
    1. buat nama file dengan format xlsx
    2. path folder (tempat menyimpan data)
    3. masukan dengan .to_excel()

In [15]:
# 1. buat nama file excel
nama_excel = 'provinsi_excel_baru.xlsx'
# 2. path folder (tempat menyimpan data) dan masukan nama file nya
path_folder = rf"C:\Rofi belajar\Udemy Data Analyst\section-8-Pandas-Input-Output-DataSet-Review\folder_menyimpan_data_baru/{nama_excel}"
# 3. jalankan code untuk memasukan data
df2.to_excel(path_folder)

##### 3. Menulis kedalam Json
 * menggunakan to_json() -> contoh data.to_json(path)
    1. buat nama file dengan format json
    2. path folder (tempat menyimpan data)
    3. masukan dengan .to_json()

In [17]:
# 1. buat nama file json
nama_json = 'provinsi_json_baru.json'
# 2. path folder (tempat menyimpan data) dan masukan nama file nya
path_folder = rf"C:\Rofi belajar\Udemy Data Analyst\section-8-Pandas-Input-Output-DataSet-Review\folder_menyimpan_data_baru/{nama_json}"
# 3. jalankan code untuk memasukan data
df3.to_json(path_folder)