#### Method Info dan Macam Dtype
* Fungsi info() pada Pandas digunakan untuk mendapatkan ringkasan singkat dari DataFrame, termasuk informasi tentang indeks, tipe data, dan jumlah nilai non-null untuk setiap kolom.
  1. jika jumlah entries sama dengan jumlah non null berarti data tidak ada yg kosong / NaN -> jika beda berarti ada yang kosong
      * contoh type 2 di bawah

* Datatype adalah tipe data yang ada dimiliki oleh setiap kolom dalam DataFrame :
  1. int64 : Bilangan bulat 64-bit. Contoh: 23, 45, 24
  2. float64: Bilangan desimal 64-bit. Contoh: 23.5, 45.1, 24.0
  3. Object: Tipe data umum yang digunakan untuk teks/string atau campuran tipe. Contoh : 'A', 'B', 'C'
  4. bool : Tipe data boolean yang hanya memiliki dua nilai: True dan False
  5. datetime64 : Tipe data untuk tanggal dan waktu. Contoh: '2024-01-01'
  6. timedelta[ns] : Tipe data untuk durasi atau perbedaan waktu
  7. category : Tipe data untuk data kategorikal yang dapat memiliki nilai tetap yang terbatas.

In [1]:
import pandas as pd

path_pokemon= r"C:\Rofi belajar\Udemy Data Analyst\section-8-Pandas-Input-Output-DataSet-Review\MISSION+5+FILES\Pokemon.csv"

df_pokemon = pd.read_csv(path_pokemon, index_col='Num')
df_pokemon

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Stage,Legendary
Num,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,2,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,3,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,2,False
...,...,...,...,...,...,...,...,...,...,...,...,...
147,Dratini,Dragon,NaN,300,41,64,45,50,50,50,1,False
148,Dragonair,Dragon,NaN,420,61,84,65,70,70,70,2,False
149,Dragonite,Dragon,Flying,600,91,134,95,100,100,80,3,False
150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
151,Mew,Psychic,NaN,600,100,100,100,100,100,100,1,False

In [2]:
# menggunakan info() untuk mengetahui jenis column nya
  # jika jumlah entries sama dengan jumlah non null berarti data tidak ada yg kosong / NaN, jika tidak berarti ada yg kosong
  # contoh type 2
df_pokemon.info()

<class 'pandas.core.frame.DataFrame'>
Index: 151 entries, 1 to 151
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       151 non-null    object
 1   Type 1     151 non-null    object
 2   Type 2     67 non-null     object
 3   Total      151 non-null    int64
 4   HP         151 non-null    int64
 5   Attack     151 non-null    int64
 6   Defense    151 non-null    int64
 7   Sp. Atk    151 non-null    int64
 8   Sp. Def    151 non-null    int64
 9   Speed      151 non-null    int64
 10  Stage      151 non-null    int64
 11  Legendary  151 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 14.3+ KB